# Mutual Information Analysis

 From Dawe and Austin (2013), the observed mutual information for directly-calculated entrainment and detrainment rates are as follows. The dataset is based on the LES simulation of shallow cumulus clouds based on BOMEX over a small domain (6.4 km $\times$ 6.4 km $\times$ 3.2 km).

In [35]:
import numpy as np
import pandas as pd

In [43]:
mi_eps = pd.DataFrame({
    'X':['epsilon', 'epsilon', 'epsilon', 'epsilon', 'epsilon', 'epsilon'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.109, 0.221, 0.038, 0.430, 0.261, 0.127]},
)
mi_eps.T

                   0        1        2        3        4        5
X            epsilon  epsilon  epsilon  epsilon  epsilon  epsilon
Y            z        w        a        B        chi      lapse
mutual_info  0.109    0.221    0.038    0.43     0.261    0.127

In [49]:
mi_del = pd.DataFrame({
    'X':['delta', 'delta', 'delta', 'delta', 'delta', 'delta'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.026, 0.218, 0.159, 0.184, 0.345, 0.058]})
mi_del

                 0      1      2      3      4      5
X            delta  delta  delta  delta  delta  delta
Y            z      w      a      B      chi    lapse
mutual_info  0.026  0.218  0.159  0.184  0.345  0.188

### Shallow Convection (BOMEX+ARM)

 Here, I combined the dataset from BOMEX and GCSSARM runs to repeat the above calculations. The results are as follows.

 For fractional entrainment $\log_{10} \epsilon$,

In [56]:
mi_eps = pd.DataFrame({
    'X':['epsilon', 'epsilon', 'epsilon', 'epsilon', 'epsilon', 'epsilon'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.152, 0.217, 0.178, 0.324, 0.325, 0.110]},
)
mi_eps.T

                   0        1        2        3        4        5
X            epsilon  epsilon  epsilon  epsilon  epsilon  epsilon
Y            z        w        a        B        chi      lapse
mutual_info  0.152    0.217    0.178    0.324    0.325    0.11

 For fractional detrainment $\log_{10} \delta$,

In [55]:
mi_del = pd.DataFrame({
    'X':['delta', 'delta', 'delta', 'delta', 'delta', 'delta'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.231, 0.369, 0.352, 0.358, 0.331, 0.165]}
)
mi_del.T

                 0      1      2      3      4      5
X            delta  delta  delta  delta  delta  delta
Y            z      w      a      B      chi    lapse
mutual_info  0.231  0.369  0.352  0.358  0.331  0.165

 For dilution due to entrainment $\Omega_e$,

In [58]:
mi_eps = pd.DataFrame({
    'X':['omega_e', 'omega_e', 'omega_e', 'omega_e', 'omega_e', 'omega_e'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.389, 0.355, 0.235, 0.292, 0.217, 0.298]},
)
mi_eps.T

                   0        1        2        3        4        5
X            omega_e  omega_e  omega_e  omega_e  omega_e  omega_e
Y            z        w        a        B        chi      lapse
mutual_info  0.389    0.355    0.235    0.292    0.217    0.298

 and total dilution $\Omega$,

In [59]:
mi_eps = pd.DataFrame({
    'X':['omega', 'omega', 'omega', 'omega', 'omega', 'omega'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.255, 0.190, 0.112, 0.156, 0.124, 0.169]},
)
mi_eps.T

                 0      1      2      3      4      5
X            omega  omega  omega  omega  omega  omega
Y            z      w      a      B      chi    lapse
mutual_info  0.255  0.19   0.112  0.156  0.124  0.169

 Compared to the mutual information for entrainment and detrainment rates, no single variable appears to do well here, although it is not too surprising since we are not looking at both the entrainment rate and the properties of the entrained air. For this reason, entrainment rate carries little information on dilution (~ 0.1). 
 
 Also, as expected from the correlation figures, area remains a poor predictor of both entrainment and dilution.

### Deep Convection (GATE)

 Lastly, I've repeated the above calculations for a tropical marine deep convection case of GATE over a 90 km $\times$ 90 km $\times$ 25 km domain.

 For fractional entrainment $\epsilon$,

In [53]:
mi_eps = pd.DataFrame({
    'X':['epsilon', 'epsilon', 'epsilon', 'epsilon', 'epsilon', 'epsilon'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.092, 0.154, 0.054, 0.114, 0.005, 0.072]},
)
mi_eps.T

                   0        1        2        3        4        5
X            epsilon  epsilon  epsilon  epsilon  epsilon  epsilon
Y            z        w        a        B        chi      lapse
mutual_info  0.092    0.154    0.054    0.114    0.005    0.072

 While none of the variables are strongly dependant on $\epsilon$, vertical velocity and buoyancy still remain the best predictor of fractional entrainment rate.

 For fractional detrainment $\delta$,

In [54]:
mi_del = pd.DataFrame({
    'X':['delta', 'delta', 'delta', 'delta', 'delta', 'delta'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.080, 0.080, 0.056, 0.184, 0.001, 0.051]}
)
mi_del.T

                 0      1      2      3      4      5
X            delta  delta  delta  delta  delta  delta
Y            z      w      a      B      chi    lapse
mutual_info  0.08   0.08   0.056  0.184  0.001  0.051

 For dilution due to entrainment $\Omega_e$,

In [60]:
mi_eps = pd.DataFrame({
    'X':['omega_e', 'omega_e', 'omega_e', 'omega_e', 'omega_e', 'omega_e'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.091, 0.039, 0.010, 0.137, 0.003, 0.064]},
)
mi_eps.T

                   0        1        2        3        4        5
X            omega_e  omega_e  omega_e  omega_e  omega_e  omega_e
Y            z        w        a        B        chi      lapse
mutual_info  0.091    0.039    0.01     0.137    0.003    0.064

 and total dilution $\Omega$,

In [61]:
mi_eps = pd.DataFrame({
    'X':['omega', 'omega', 'omega', 'omega', 'omega', 'omega'],
    'Y':['z', 'w', 'a', 'B', 'chi', 'lapse'],
    'mutual_info':[0.025, 0.013, 0.008, 0.010, 0.000, 0.014]},
)
mi_eps.T

                 0      1      2      3      4      5
X            omega  omega  omega  omega  omega  omega
Y            z      w      a      B      chi    lapse
mutual_info  0.025  0.013  0.008  0.01   0      0.014

 Buoyancy remains a good predictor for entrainment rate. Interestingly, vertical velocity is relativelty well correlated with entrainment, but not detrainment.